article {
	width: 50%;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.subject_row{
	text-align: left;
}
.user_info{
	text-align: left;
	font-size: 13px;
}
.user_info > img{
	width: 15px;
	vertical-align:middle;
}
.board_main_view{
	/* border: 1px solid red; */
	margin-bottom: 1%;
}

.comment_count_row ,.comment_view_row ,.comment_view_normal{
	width: 100%;
}
.comment_count_row>input{
	float: left;
	width:90%;
	height:20px;
}
.comment_count_row>button{
	float: right;
	width:9%;
	height: 26px;
	background-color:black;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}
.comment_wrapper div{
	/* border: 1px solid red; */
	display: inline-block;
}

.comment_count_row_left{
	float: left;
}
.comment_count_row_left{
	float: left;
}

.comment_count_row_right{
	float: right;
}

.comment_table{
	width: 100%;
	/* border: 1px solid #444444;
   border-collapse: collapse; */
}
tr td{
	border-bottom:1px dotted lightgrey;
}
tr:last-child td{
	border-bottom:none;
}
.comment_element_parent > .user >button{
	background-color: transparent;
	border: none;
	float: left;
	color: blue;
	cursor: pointer;
}
.comment_element_parent{
	height: 70px;
}
.comment_element_child{
	height: 70px;
}
.comment_element_child > .user >button{
	background-color: transparent;
	border: none;
	float: left;
	color: blue;
	cursor: pointer;
}
.delBtn{
	background-color: transparent;
	border: none;
	float: left;
	color: blue;
	cursor: pointer;
	margin-top:1%;
}
.delBtn2{
	background-color: transparent;
	border: none;
	color: blue;
	cursor: pointer;
	margin-top:1%;
	margin-left:5%;
	float: left;
}
.content_bottom_button > button{
	background-color: black;
	color: white;
	border-radius: 3px;
	cursor: pointer;
}
.left_ad_btn button{
	width: 163.25px;
	height: 81.625px;
	font-size: 30px;
	font-weight: bold;
	object-fit: cover;
}

.recommentsWritebox{
	display: none !important; 
}

.recommentsWritebox.show{
	display: block !important; 
}

.parallax_back_layer {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(../img/06.jpg);
	background-size: cover;
	filter: grayscale(100%);
	height: 100vmax;
	opacity: 0.1;
	min-height: 1000px;
	z-index: -3;
  }

  .parallax_back_layer2 {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	background-image: url(../img/06.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	filter: grayscale(100%);
	opacity: 0.1;
	min-height: 1000px;
	z-index: -3;
  }