a{text-decoration:none}
article{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#preview{
    overflow:auto;
    overflow-y:hidden;
    white-space: nowrap;
    width: 30rem;
}
#preview>ol>li{
    display:inline-block;
    marker: none;
}
#thumbnail{opacity: 0;}

#file{display: none;}

#fileButton{
    padding: 6px 25px;
    background-color:#FF6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.parallax_back_layer {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/06.jpg);
    background-size: cover;
    filter: grayscale(100%);
    opacity: 0.1;
    min-height: 1000px;
    z-index: -3;
  }

  .imagefile {
    width: 7rem;
    height: 7rem;
    margin: 0 1rem;
  }