<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>신</title>
	<script src="https://kit.fontawesome.com/69fe52bc75.js" crossorigin="anonymous"></script>
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
	<link rel="stylesheet" th:href="@{/css/main_hyun.css}">
	<link rel="stylesheet" th:href="@{/css/modal.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
	<script th:src="@{/js/link_hyun.js}"></script>
	<script th:src="@{/js/main_hyun.js}"></script>
</head>

<body>
	<div class="parallax_page">
		<div id="group2" class="parallax">
			<div class="overlay"></div>
			<header id="header">
				<div class="container">
					<div class="header">
						<div class="header_title">
							<a href="http://127.0.0.1:8080/main" class="header_title_img">
								<div><img th:src="@{/img/hermes.png}"></div>
							</a>
						</div>
						<div class="header_menu">
							<div class="header_menu_intro">
								<a href="boardlist" class="header_menu_intro_a notice"
									onmouseover="show_alarm()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;게시판 입장!<span
										class="unread"></span>
								</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span th:text="${session.loginEmail}"></span> <span th:if="${session.loginEmail}">님
									환영합니다</span>

								<button class="btn-open-join"
									th:unless="${session.loginEmail}">회원가입</button>&nbsp;&nbsp;
								<button onclick="location.href='memberUpdate'"
									th:if="${session.loginEmail}">정보수정</button>&nbsp;&nbsp;
								<div class="modal_join">
									<form action="join.do" method="post">
										<div class="modal_body">
											<div class="close-area"><a href="#"
													onclick="location.href=document.referrer"
													style="text-decoration-line:none; float: right; color:#ffffff">X</a>
											</div>
											<h2 style="font-size: 30px; color:white; margin-bottom:20%;"
												th:unless="${session.loginEmail}">회원가입</h2>
											<input style="margin-bottom:0" class="join_text" type="text" name="email"
												id="email" th:unless="${session.loginEmail}" placeholder="이메일"><br>
											<div id="emailError"
												style="color:white; margin-bottom: 5%; margin-top: 0px;"
												th:unless="${session.loginEmail}"></div>
											<input class="join_text" type="password" name="pwd"
												th:unless="${session.loginEmail}" placeholder="비밀번호">
											<input class="join_text" type="password" name="checkPwd"
												th:unless="${session.loginEmail}" placeholder="비밀번호 확인">
											<input style="margin-bottom:0" class="join_text" type="text" name="name"
												id="name" th:unless="${session.loginEmail}" placeholder="닉네임">
											<div id="nameError" style="color:white; margin-bottom: 5%; margin-top: 0px;"
												th:unless="${session.loginEmail}"></div>
											<input class="join_text" type="date" name="birth"
												th:unless="${session.loginEmail}">
											<input class="join_text" type="text" name="phone"
												th:unless="${session.loginEmail}" placeholder="전화번호(010-0000-0000)">
											<input class="join_button" type="submit" value="가입"
												th:unless="${session.loginEmail}">
											<input class="join_button" type="button" value="취소"
												onclick="location.href=document.referrer"
												th:unless="${session.loginEmail}">
										</div>
									</form>
								</div>
								<button class="btn-open-login" th:unless="${session.loginEmail}">로그인</button>
								<button onclick="location.href='logout.do'" th:if="${session.loginEmail}">로그아웃</button>
								<div class="modal_login">
									<form action="login.do" method="post">
										<div class="modal_body">
											<div class="close-area"><a href="#"
													onclick="location.href=document.referrer"
													style="text-decoration-line:none; float: right; color:#ffffff">X</a>
											</div>
											<h2 style="font-size: 30px; color:white; margin-bottom:37%">로그인</h2>
											<input class="login_text" type="text" name="email" placeholder="이메일">
											<input class="login_text" type="password" name="pwd" placeholder="비밀번호">
											<input class="login_button" type="submit" value="로그인">
											<input class="login_button" type="button" value="취소"
												onclick="location.href='main'">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<nav id="nav">
				<div class="container">
					<div class="row">
						<div class="nav">
							<h2 class="ir_su">Category</h2>
							<div>
								<h3><i class="fas fa-university">&nbsp;</i>브랜드관</h3>
								<ol>
									</li>
									<li><a href="hhttps://www.musinsa.com/brands/newbalance"><span>뉴발란스</span></a></li>
									<li><a href="https://www.nike.com/kr/"><span>나이키</span></a></li>
									<li><a href="https://www.adidas.co.kr/"><span>아디다스</span></a></li>
									<li><a href="https://salomon.co.kr/"><span>살로몬</span></a></li>
									<li><a href="https://www.balenciaga.com/ko-kr"><span>발렌시아가</span></a></li>
									<li><a href="https://www.vans.co.kr/"><span>반스</span></a></li>
								</ol>
							</div>
							<div>
								<h3><i class="fas fa-university">&nbsp;</i>구매처</h3>
								<ol>
									<li><a href="https://web.joongna.com/"><span>중고나라</span></a></li>
									<li><a href="https://m.bunjang.co.kr/"><span>번개장터</span></a></li>
									<li><a href="https://kream.co.kr/"><span>크림</span></a></li>
									<li><a href="https://balaan.co.kr/shop/main/index.php"><span>발란</span></a></li>
									<li><a href="https://stockx.com/"><span>Stock X</span></a></li>
									<li><a href="https://abcmart.a-rt.com/"><span>ABC마트</span></a></li>
								</ol>
							</div>
							<div>
								<h3><i class="fas fa-university">&nbsp;</i>MEN</h3>
								<ol>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10000&ctgrNo=1000000245&page=1"><span>운동화</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10000&ctgrNo=1000000249"><span>스포츠</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10000&ctgrNo=1000000254"><span>구두</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10000&ctgrNo=1000000260&page=1"><span>샌들</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10000&ctgrNo=1000000410&page=1"><span>캐주얼</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10000&ctgrNo=1000000266&page=1"><span>부츠</span></a>
									</li>
								</ol>
							</div>
							<div>
								<h3><i class="fas fa-university">&nbsp;</i>WOMEN</h3>
								<ol>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10001&ctgrNo=1000000245&page=1"><span>운동화</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10001&ctgrNo=1000000249&page=1"><span>스포츠</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10001&ctgrNo=1000000254&page=1"><span>구두</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10001&ctgrNo=1000000260&page=1"><span>샌들</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10001&ctgrNo=1000000410&page=1"><span>캐주얼</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10001&ctgrNo=1000000266&page=1"><span>부츠</span></a>
									</li>
								</ol>
							</div>
							<div>
								<h3><i class="fas fa-university">&nbsp;</i>KIDS</h3>
								<ol>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10002&ctgrNo=1000000245&page=1"><span>운동화</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10002&ctgrNo=1000000249&page=1"><span>스포츠</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10002&ctgrNo=1000000254&page=1"><span>구두</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10002&ctgrNo=1000000260&page=1"><span>샌들</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10000&ctgrNo=1000000410&page=1"><span>캐주얼</span></a>
									</li>
									<li><a
											href="https://abcmart.a-rt.com/display/category/main?genderGbnCode=10002&ctgrNo=1000000266&page=1"><span>부츠</span></a>
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</nav>
			<main>
				<section id="contents">
					<div class="container parallax_base_layer">
						<h2 class="ir_su">main img</h2>
						<section id="cont_center">
							<h3 class="ir_su">main img</h3>
							<article class="column col1">
								<h4 class="ir_su col_tit">메인 이미지</h4>
								<p class="col_desc"><span class="ir_su">메인 이미지<br /></span>
								</p>
								<img th:src="@{/img/main_banner.png}" class="slides">
								<img th:src="@{/img/main_banner2.png}" class="slides">
								<img th:src="@{/img/main_banner3.jpg}" class="slides">
								<script type="text/javascript">
									var index = 0;   // 이미지 접근 인덱스
									window.onload = function () {
										slideView();
									}

									function slideView() {
										var i;
										var x = document.getElementsByClassName("slides");
										for (i = 0; i < x.length; i++) { // slides 갯수
											x[i].style.display = "none";
										}
										index++; // index 1씩 증가
										if (index > x.length) {
											index = 1;  // index가 초과되면 1로 변경
										}
										x[index - 1].style.display = "block";

										setTimeout(slideView, 3000); // 사진 속도
									}
								</script>
							</article>
							<article class="column col2">
								<!-- 게시판  -->
								<div class="notice1 pr5">
									<h5 class="ir_su">Notice1</h5>
									<h5>최근 게시물</h5>
									<ul th:each="list:${list}">
										<li>
											<a th:href="@{content?(page=${nowPage},seq=${list.seq})}"
												th:text="${list.subject}">제목 [10]</a>
											<span th:if="${list.comments.size>0}"
												th:text="|[${list.comments.size}]|" style="color: green;"></span>
										</li>
									</ul>
									<a href="boardlist?page=1" class="more" title="더 보기">More <i
											class="fa fa-plus-circle"></i></a>
								</div>
								<!-- 게시판  -->
								<div class="notice2 pr5">
									<h5 class="ir_su">Notice1</h5>
									<h5>인기(추천) 게시물</h5>
									<ul th:each="recom:${listrecom}">
										<li>
											<a th:href="@{content?(page=${nowPagerecom},orderby=${orderbyrecom},seq=${recom.seq})}"
												th:text="${recom.subject}">제목 </a>
											<span th:if="${recom.comments.size>0}"
												th:text="|[${recom.comments.size}]|" style="color: green;"></span>
										</li>
									</ul>
									<a href="boardlist?page=1&orderby=recom" class="more" title="더 보기">More <i
											class="fa fa-plus-circle"></i></a>
								</div>
								<div class="notice3">
									<h5 class="ir_su">Notice1</h5>
									<h5>베스트 조회 수</h5>
									<ul th:each="hits:${listhits}">
										<li>
											<a th:href="@{content?(page=${nowPagehits},orderby=${orderbyhits},seq=${hits.seq})}"
												th:text="${hits.subject}">제목 [10]</a>
											<span th:if="${hits.comments.size>0}"
												th:text="|[${hits.comments.size}]|" style="color: green;"></span>
										</li>
									</ul>
									<a href="boardlist?page=1&orderby=hits" class="more" title="더 보기">More <i
											class="fa fa-plus-circle"></i></a>
								</div>
							</article>
							<article class="column col3">
								<div class="notice3">
									<h5 class="ir_su">Notice1</h5>
									<h5>사이즈 표</h5>
									<img th:src="@{/img/banner.png}" class="cont_right_img"></a>
								</div>
							</article>
						</section>
						<article class="column col11">
							<h4 class="ir_su col_tit"></h4>
							<p class="ir_su col_desc"></p>
							<h4 class="ir_su col_tit"></h4>
							<p class="col_desc"><a href="https://www.nike.com/kr/">
									<img th:src="@{/img/banner.png}" class="cont_right_img"></a>
						</article>
						<article class="column col11">
							<h4 class="ir_su col_tit"></h4>
							<p class="ir_su col_desc"></p>
							<h4 class="ir_su col_tit"></h4>
							<p class="col_desc"><a href="https://www.nike.com/kr/">
									<img th:src="@{/img/banner2.gif}" class="cont_right_img2"></a>
						</article>
						<article class="column col11">
							<h4 class="ir_su col_tit"></h4>
							<p class="ir_su col_desc"></p>
							<h4 class="ir_su col_tit"></h4>
							<p class="col_desc"><a href="https://halincode.com/dealstore/%EB%82%98%EC%9D%B4%ED%82%A4/">
									<img th:src="@{/img/banner3.gif}" class="cont_right_img3"></a>
						</article>
					</div>
				</section>
			</main>
			<footer id="footer">
				<div class="container">
					<ul>
						<li>전윤식</a></li>
						<li>|</li>
						<li>이대원</a></li>
						<li>|</li>
						<li>김종호</a></li>
						<li>|</li>
						<li>김태현</a></li>
						<li>|</li>
						<li>박정환</a></li>
					</ul>
					<div class="sns_link">
						<a href="http://naver.com">
							<img th:src="@{/img/mail.png}" /></a>
						<a href="https://section.blog.naver.com/BlogHome.naver?directoryNo=0&currentPage=1&groupId=0">
							<img th:src="@{/img/blog.png}" /></a>
						<a href="https://www.facebook.com">
							<img th:src="@{/img/FACEBOOK.png}" /></a>
						<a href="https://www.youtube.com/">
							<img th:src="@{/img/youtube.png}" /></a>
					</div>
					<i class="copyright">COPYRIGHTⓒ 2023 Spring Project Team 3. ALL RIGHT RESERVED.</i>
				</div>
				<div class="black"></div>
			</footer>
		</div>
		<div class="parallax_back_layer"></div>
	</div>
</body>

<script>
	const modal_join = document.querySelector('.modal_join');
	const btnOpenJoin = document.querySelector('.btn-open-join');
	btnOpenJoin.addEventListener('click', () => {
		modal_join.style.display = 'block';
	});

	const modal_login = document.querySelector('.modal_login');
	const btnOpenLogin = document.querySelector('.btn-open-login');
	btnOpenLogin.addEventListener('click', () => {
		modal_login.style.display = 'block';
	});
</script>
<script>
	function checkEmailExists(email) {
		return fetch(`/api/user/checkEmail?email=${email}`)
			.then(response => {
				if (response.ok) {
					return Promise.resolve();
				} else {
					return Promise.reject("이미 사용중인 이메일입니다");
				}
			});
	}
	const emailInput = document.getElementById("email");
	const emailError = document.getElementById("emailError");

	emailInput.addEventListener("blur", () => {
		checkEmailExists(emailInput.value)
			.then(() => {
				emailError.textContent = "";
			})
			.catch(error => {
				emailError.textContent = error;
			});
	});
</script>
<script>
	function checkNameExists(name) {
		return fetch(`/api/user/checkName?name=${name}`)
			.then(response => {
				if (response.ok) {
					return Promise.resolve();
				} else {
					return Promise.reject("이미 사용중인 닉네임 입니다");
				}
			});
	}
	const nameInput = document.getElementById("name");
	const nameError = document.getElementById("nameError");

	nameInput.addEventListener("blur", () => {
		checkNameExists(nameInput.value)
			.then(() => {
				nameError.textContent = "";
			})
			.catch(error => {
				nameError.textContent = error;
			});
	});
</script>

</html>