<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메인 페이지 </title>
    <script src="https://kit.fontawesome.com/69fe52bc75.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/main_hyun.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <script th:src="@{/js/link_hyun.js}"></script>
    <script th:src="@{/js/main_hyun.js}"></script>
    <style></style>
    <script>
    </script>
</head>

<body>
    <div class="parallax_page">
        <div id="group2" class="parallax">
            <div class="overlay"></div>
            <header id="header">
                <div class="container">
                    <div class="header">
                        <div class="header_title">
                            <a href="#" class="header_title_img">
                                <div>신<span>&nbsp; Team 3</span></div>
                            </a>
                        </div>
                        <div class="header_search">
                            <input type="text" placeholder="검색어를 입력하세요" />
                            <button type="button">검색</button>
                        </div>
                        <div class="header_menu">
                            <div class="header_menu_intro">
                                <a href="#" class="header_menu_intro_a notice" onmouseover="show_alarm()">알림<span
                                        class="unread"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" class="header_menu_intro_a mypost"
                                    onmouseover="show_post()">캐시충전</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" class="header_menu_intro_a privacypolicy">정보수정</a>

                                <button class="btn-open-join">회원가입</button>
                                <div class="modal_join">
                                    <div class="modal_body">
                                        <div class="close-area"><a href="#" onclick="location.href=document.referrer"
                                                style="text-decoration-line:none; float: right; color:#ffffff">X</a>
                                        </div>
                                        <h2 style="font-size: 30px; color:white; margin-bottom:20%">회원가입</h2>
                                        <input class="join_text" type="text" placeholder="이메일">
                                        <input class="join_text" type="password" placeholder="비밀번호">
                                        <input class="join_text" type="password" placeholder="비밀번호 확인">
                                        <input class="join_text" type="date">
                                        <input class="join_text" type="text" placeholder="전화번호(010-0000-0000)">
                                        <input class="join_button" type="submit" value="가입">
                                        <input class="join_button" type="button" value="취소"
                                            onclick="location.href=document.referrer">
                                    </div>
                                </div>
                                <button class="btn-open-login">로그인</button>
                                <div class="modal_login">
                                    <div class="modal_body">
                                        <div class="close-area"><a href="#" onclick="location.href=document.referrer"
                                                style="text-decoration-line:none; float: right; color:#ffffff">X</a>
                                        </div>
                                        <h2 style="font-size: 30px; color:white; margin-bottom:37%">로그인</h2>
                                        <input class="login_text" type="text" placeholder="이메일">
                                        <input class="login_text" type="password" placeholder="비밀번호">
                                        <input class="login_button" type="submit" value="로그인">
                                        <input class="login_button" type="button" value="취소"
                                            onclick="location.href=document.referrer">
                                    </div>
                                </div>

                                <script> //로그인 및 회원가입 모달
                                    const modal_join = document.querySelector('.modal_join');
                                    const btnOpenJoin = document.querySelector('.btn-open-join');
                                    btnOpenJoin.addEventListener('click', () => {
                                        modal_join.style.display = 'block';
                                    });
                                    const modal_login = document.querySelector('.modal_login');
                                    const btnOpenLogin = document.querySelector('.btn-open-login');
                                    btnOpenLogin.addEventListener('click', () => {
                                        modal_login.style.display = 'block';
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <nav id="nav">
                <div class="container">
                    <div class="row">
                        <div class="nav">
                            <h2 class="ir_su">Category</h2>
                            <div>
                                <h3><i class="fas fa-university">&nbsp;</i>브랜드관</h3>
                                <ol>
                                    </li>
                                    <li><a href="https://www.nbkorea.com/index.action"><span>뉴발란스</span></a></li>
                                    <li><a href="https://www.nike.com/kr/"><span>나이키</span></a></li>
                                    <li><a href="https://www.adidas.co.kr/"><span>아디다스</span></a></li>
                                    <li><a href="https://salomon.co.kr/"><span>살로몬</span></a></li>
                                    <li><a href="https://www.balenciaga.com/ko-kr"><span>발렌시아가</span></a></li>
                                    <li><a href="https://www.vans.co.kr/"><span>반스</span></a></li>
                                </ol>
                            </div>
                            <div>
                                <h3><i class="fas fa-university">&nbsp;</i>구매처</h3>
                                <ol>
                                    <li><a href="https://web.joongna.com/"><span>중고나라</span></a></li>
                                    <li><a href="https://m.bunjang.co.kr/"><span>번개장터</span></a></li>
                                    <li><a href="https://kream.co.kr/"><span>크림</span></a></li>
                                    <li><a href="https://balaan.co.kr/shop/main/index.php"><span>발란</span></a></li>
                                    <li><a href="https://stockx.com/"><span>Stock X</span></a></li>
                                    <li><a href="https://abcmart.a-rt.com/"><span>ABC마트</span></a></li>
                                </ol>
                            </div>
                            <div>
                                <h3><i class="fas fa-university">&nbsp;</i>뭐하지?</h3>
                                <ol>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                </ol>
                            </div>
                            <div>
                                <h3><i class="fas fa-university">&nbsp;</i>뭐하지?</h3>
                                <ol>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                </ol>
                            </div>
                            <div>
                                <h3><i class="fas fa-university">&nbsp;</i>뭐하지?</h3>
                                <ol>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#"><span></span></a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <article id="toggle">
                        <div class="container">
                            <div class="toggle">
                                <span></span>
                                <a href="#" class="btn" onclick="drop_down_monitor_menu()">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </nav>
            <main>
                <section id="contents">
                    <div class="container" class="parallax_base_layer">
                        <h2 class="ir_su">main img</h2>
                        <section id="cont_center">
                            <h3 class="ir_su">main img</h3>
                            <article class="column col1">
                                <h4 class="ir_su col_tit">메인 이미지</h4>
                                <p class="col_desc"><span class="ir_su">메인 이미지<br /></span>
                                </p>
                                <img th:src="@{/img/main_banner.png}">
                            </article>
                            <article class="column col2">
                                <!-- 게시판  -->
                                <div class="notice1 pr5">
                                    <h5 class="ir_su">Notice1</h5>
                                    <h5>최근 게시물</h5>
                                    <ul>
                                        <li><a href="#">이줄은 한줄효과입니다.이줄과입니다.[1]</a></li>
                                        <li><a href="#">이줄은 한줄효과입니다이줄은 한줄효과입니다.[3]</a></li>
                                        <li><a href="#">이줄은 한줄효과입입이줄은 한줄효과입니다.</a></li>
                                        <li><a href="#">이줄은 한입니다.한줄효과입니다.[1]</a></li>
                                        <li><a href="#">이줄은 한줄효과입입이줄은 한줄효과입니다.</a></li>
                                    </ul>
                                    <a href="#" class="more" title="더 보기">More <i class="fa fa-plus-circle"></i></a>
                                </div>

                                <!-- 게시판  -->
                                <div class="notice2 pr5">
                                    <h5 class="ir_su">Notice1</h5>
                                    <h5>인기(추천) 게시물</h5>
                                    <ul>
                                        <li><a href="#">이줄은 한줄효과입니다.이줄과입니다.[1]</a></li>
                                        <li><a href="#">이줄은 한줄효과입니다이줄은 한줄효과입니다.[3]</a></li>
                                        <li><a href="#">이줄은 한줄효과입입이줄은 한줄효과입니다.</a></li>
                                        <li><a href="#">이줄은 한입니다.한줄효과입니다.[1]</a></li>
                                        <li><a href="#">이줄은 한줄효과입입이줄은 한줄효과입니다.</a></li>
                                    </ul>
                                    <a href="#" class="more" title="더 보기">More <i class="fa fa-plus-circle"></i></a>
                                </div>

                                <div class="notice3">
                                    <h5 class="ir_su">Notice1</h5>
                                    <h5>베스트 조회 수</h5>
                                    <ul>
                                        <li><a href="#">이줄은 한줄효과입니다.이줄과입니다.[1]</a></li>
                                        <li><a href="#">이줄은 한줄효과입니다이줄은 한줄효과입니다.[3]</a></li>
                                        <li><a href="#">이줄은 한줄효과입입이줄은 한줄효과입니다.</a></li>
                                        <li><a href="#">이줄은 한입니다.한줄효과입니다.[1]</a></li>
                                        <li><a href="#">이줄은 한줄효과입입이줄은 한줄효과입니다.</a></li>
                                    </ul>
                                    <a href="#" class="more" title="더 보기">More <i class="fa fa-plus-circle"></i></a>
                                </div>

                            </article>
                            <article class="column col4">
                                <h4 class="ir_su col_tit">title</h4>
                                <p class="ir_su col_desc">설명부분</p>
                                <div class="notice4 pr5">
                                    <h5 class="ir_su">Notice1</h5>
                                    <h5>게시판 이름 1</h5>
                                    <ul>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글[1]</a></li>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글[3]</a></li>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글</a></li>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글[1]</a></li>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글</a></li>
                                    </ul>
                                    <a href="#" class="more" title="더 보기">More <i class="fa fa-plus-circle"></i></a>
                                </div>

                                <!-- 게시판  -->
                                <div class="notice5 pr5">
                                    <h5 class="ir_su">Notice1</h5>
                                    <h5>게시판 이름 2</h5>
                                    <ul>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글[1]</a></li>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글[3]</a></li>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글</a></li>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글[1]</a></li>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글</a></li>
                                    </ul>
                                    <a href="#" class="more" title="더 보기">More <i class="fa fa-plus-circle"></i></a>
                                </div>

                                <div class="notice6">
                                    <h5 class="ir_su">Notice1</h5>
                                    <h5>게시판 이름 3</h5>
                                    <ul>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글[1]</a></li>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글[3]</a></li>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글</a></li>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글[1]</a></li>
                                        <li><a href="#">게시판 이름 댓글 게시판 이름 댓글</a></li>
                                    </ul>
                                    <a href="#" class="more" title="더 보기">More <i class="fa fa-plus-circle"></i></a>
                                </div>
                            </article>


                            <article class="column col5">
                                <h4 class="ir_su col_tit">title</h4>
                                <p class="ir_su col_desc">설명부분</p>

                                <!-- 게시판  -->
                                <div class="notice7 photo7 pr5">
                                    <h5 class="ir_su">Notice1</h5>
                                    <h5>광고 삽입 1</h5>
                                    <ul>
                                        <li><a href="#"><img src="http://placehold.it/200x100" alt="" />이것은 치킨인가 마약인가
                                                안녕하세요 수원 왕갈비 통닭입니다.</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#"><img src="http://placehold.it/200x100" alt="" />롤 진짜 하고 싶다. 안되겠다
                                                다들 칼바람 들어와 깔끔하게 3판 하자</a></li>
                                    </ul>
                                    <a href="#" class="more" title="더 보기">More <i class="fa fa-plus-circle"></i></a>
                                </div>

                                <!-- 게시판  -->
                                <div class="notice8 photo8 pr5">
                                    <h5 class="ir_su">Notice1</h5>
                                    <h5>광고 삽입 2</h5>
                                    <ul>
                                        <li><a href="#"><img src="http://placehold.it/200x100" alt="" />이번 챔스 우승은 뭔가 레알
                                                아니면 뮌헨 삘 아 오케이 맨시티도 있지</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#"><img src="http://placehold.it/200x100" alt="" />광고 문구 테스트 광고 문구
                                                테스트 광고 문구 테스트 광고 문구 테스트 광고 문구 테스트</a></li>
                                    </ul>
                                    <a href="#" class="more" title="더 보기">More <i class="fa fa-plus-circle"></i></a>
                                </div>

                            </article>
                            </article>
                            <!-- 게시판  -->
                            <div class="notice17 photo8 pr5">
                                <h5 class="ir_su">Notice1</h5>
                                <h5>브랜드 홍보관</h5>
                                <ul>
                                    <li><a href="#"><img src="http://placehold.it/200x400" width="200" alt="" /></a>
                                    </li>
                                </ul>
                                <ul>
                                    <li><a href="#"><img src="http://placehold.it/200x400" alt="" /></a></li>
                                </ul>
                                <ul>
                                    <li><a href="#"><img src="http://placehold.it/200x400" alt="" /></a></li>
                                </ul>
                                <ul>
                                    <li><a href="#"><img src="http://placehold.it/200x400" alt="" /></a></li>
                                </ul>
                                <a href="#" class="more" title="더 보기">More <i class="fa fa-plus-circle"></i></a>
                            </div>
                            </article>
                        </section>
                    </div>
                </section>
            </main>
            <footer id="footer">
                <div class="container">
                    <ul>
                        <li><a href="http://naver.com">전윤식</a></li>
                        <li>|</li>
                        <li><a href="http://naver.com">이대원</a></li>
                        <li>|</li>
                        <li><a href="http://naver.com">김종호</a></li>
                        <li>|</li>
                        <li><a href="http://naver.com">김태현</a></li>
                    </ul>
                    <div class="sns_link">
                        <a href="http://naver.com"><img src="../static/img/mail.PNG" /></a>
                        <a href="https://section.blog.naver.com/BlogHome.naver?directoryNo=0&currentPage=1&groupId=0"><img
                                src="../static/img/blog.png" /></a>
                        <a href="https://www.facebook.com"><img src="../static/img/FACEBOOK.png" /></a>
                        <a href="https://www.youtube.com/"><img src="../static/img/youtube.png" /></a>
                    </div>
                    <i class="copyright">COPYRIGHTⓒ 2023 Spring Project Team 3. ALL RIGHT RESERVED.</i>
                </div>
                <div class="black"></div>
            </footer>
        </div>
        <div class="parallax_back_layer"></div>
    </div>
</body>

</html>