<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="utf-8">
   <title>글 수정</title>
   <link rel="stylesheet" th:href="@{/css/writeBoard.css}">
   <link rel="shortcut icon" th:href="@{/img/hermes.png}" />
   <script th:src="@{/js/writeBoard.js}"></script>
   <script defer th:src="@{/js/updateBoard.js}"></script>
</head>
<article>

   <body th:onload="initImagecounting([[${updateBoardDto.fileList}]])">
      <div style="text-align:center; margin-top:50px">
         <h2> 게시글 수정 </h2>
         <a href="main">메인</a>&nbsp;|
         <a href="boardlist">게시판</a>
         <hr style="width:600px; margin-bottom:50px;">
      </div>

      <form name="input" method="post" th:action="|../updateBoard/${updateBoardDto.seq}|" enctype="multipart/form-data">
         <table border="0" width="600px" align="center" cellpadding="3" cellspacing="1" bordercolor="gray">
            <tr>
               <input type="hidden" name="seq" th:value="${updateBoardDto.seq}" size="60">
            </tr>
            <tr>
               <input type="hidden" name="removeList" size="60">
            </tr>
            <tr>
               <input type="hidden" name="posturl" th:value="${request}">
            </tr>
            <tr>
               <td>CATEGORY</td>
               <td>
                  <select name="category">
                     <option th:each="category : ${categoryList}" th:value=${category.categoryId}
                        th:selected="${category.categoryId}==${updateBoardDto.category}">[[${category.cgname}]]</option>
                  </select>
               </td>
            </tr>
            <tr>
               <td>SUBJECT</td>
               <td><input type="text" name="subject" th:value="${updateBoardDto.subject}" style="float:left; width:100%">
               </td>
            </tr>
            <tr>
               <td>IMAGE</td>
               <td>
                  <div id="preview">
                     <p id="emptyImage" th:if="${updateBoardDto.fileList[0].orgnm} == 'noImage.png'">업로드할 이미지를 선택해주세요</p>
                     <ol id="imageList">
                        <th:block th:if="${updateBoardDto.fileList[0].orgnm} != 'noImage.png'">
                           <li th:each="file : ${updateBoardDto.fileList}" th:id="${file.fileId}">
                              <img th:src="|/uploadedimages/${file.fileId}|" class="imagefile">
                              <p style="text-align:center;">
                                 <span th:text="${file.orgnm.length lt 10} ? ${file.orgnm}
                                 : ${#strings.substring(file.orgnm, 0, 6)}+'... '"></span>
                                 <button class="removeUploadedImage">X</button>
                              </p>
                           </li>
                        </th:block>
                     </ol>
                  </div>
               </td>
            </tr>
            <tr>
               <td>CONTENT</td>
               <td><textarea style="float:left; width:100%" name="content" rows="15"
                     cols="70">[[${updateBoardDto.content}]]</textarea></td>
            </tr>
            <tr>
               <td colspan="2" align="center">
                  <input type="button" value="전송" class="btn" onclick="check()">
                  <input type="reset" value="다시입력" class="btn" onclick="input.writer.focus()">
                  <label id="fileButton" for="file">업로드(최대 10개)</label>
                  <input type="file" name="file" id="file" multiple="multiple" accept="image/*"
                     onchange="updateImageDisplay()">
               </td>
            </tr>
         </table>
      </form>
      <div class="parallax_back_layer"></div>
   </body>
</article>

</html>