<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="utf-8">
   <title>글 수정</title>
   <link rel="stylesheet" th:href="@{/css/writeBoard.css}">
   <script th:src="@{/js/writeBoard.js}"></script>
   <script defer th:src="@{/js/updateBoard.js}"></script>
</head>
<article>

   <body th:onload="initImagecounting([[${updateBoardDto.fileList}]])">
      <center>
         <hr width="600" size='2' color="gray" noshade>
         <h3> update front 작업 </h3>
         <a href=''>리스트</a>
         <a href=''>인덱스</a>
         <hr width="600" size="2" color="gray" noshade>
      </center>

      <form name="input" method="post" th:action="|../updateBoard/${updateBoardDto.seq}|" enctype="multipart/form-data">
         <table border="0" width="600" align="center" cellpadding="3" cellspacing="1" bordercolor="gray">
            <tr>
               <td><input type="hidden" name="seq" th:value="${updateBoardDto.seq}" size="60"></td>
            </tr>
            <tr>
               <td><input type="hidden" name="removeList" size="60"></td>
            </tr>
            <tr>
               <td><input type="hidden" name="posturl" th:value="${request}"></td>
            </tr>
            <tr>
               <td align="center">CATEGORY</td>
               <td>
                  <select name="category">
							<option  th:each="category : ${categoryList}" th:value=${category.categoryId}
									th:selected="${category.categoryId}==${updateBoardDto.category}">[[${category.cgname}]]</option>
                  </select>
               </td>
            </tr>
            <tr>
               <td align="center">SUBJECT</td>
               <td><input type="text" name="subject" th:value="${updateBoardDto.subject}" size="60"></td>
            </tr>
            <tr>
               <td align="center">IMAGE</td>
               <td>
                  <div id="preview">
                     <p id="emptyImage" th:if="${updateBoardDto.fileList[0].orgnm} == 'noImage.png'">업로드할 이미지를 선택해주세요</p>
                     <ol id="imageList">
                        <th:block th:if="${updateBoardDto.fileList[0].orgnm} != 'noImage.png'">
                           <li th:each="file : ${updateBoardDto.fileList}" th:id="${file.fileId}">
                              <img th:src="|/uploadedimages/${file.fileId}|" class="imagefile">
                              <p style="text-align:center;">
                                 <span th:text="${file.orgnm.length lt 10} ? ${file.orgnm}
                                 : ${#strings.substring(file.orgnm, 0, 6)}+'... '"></span>
                                 <button class="removeUploadedImage">X</button>
                              </p>
                           </li>
                        </th:block>
                     </ol>
                  </div>
               </td>
            </tr>
            <tr>
               <td align="center">CONTENT</td>
               <td><textarea name="content" rows="15" cols="70">[[${updateBoardDto.content}]]</textarea></td>
            </tr>
            <tr>
               <td colspan="2" align="center">
                  <input type="button" value="전송" onclick="check()">
                  <input type="reset" value="다시입력" onclick="input.writer.focus()">
                  <label id="fileButton" for="file">업로드(최대 10개)</label>
                  <input type="file" name="file" id="file" multiple="multiple" accept="image/*"
                     onchange="updateImageDisplay()">
               </td>
            </tr>
         </table>
         <hr width="600" size="2" color="gray" noshade>
      </form>
      </font>
   </body>
</article>

</html>